In [42]:
import datetime
import calendar
from datetime import timedelta
import pandas as pd

In [2]:
#2022-05-20 2022-05-05

In [52]:
df=pd.read_excel("final.xlsx")
c=['Date','Day','Subject', 'P1','P2', 'P3', 'SB', 'P4', 'P5', 'P6', 'LB','P7', 'P8', 'P9']
tt=[]
t=[]
val2="2022-05-20"
val1="2022-05-05"
dt1 = datetime.datetime(int(val1[:4]),int(val1[5:7]),int(val1[8:]))
dt2 = datetime.datetime(int(val2[:4]),int(val2[5:7]),int(val2[8:]))
calendar.day_name[dt1.weekday()][0:3]
diff=dt2-dt1
temp=dt1
for i in range(diff.days+1):
    ttentry=[]
    ttentry.append(temp.strftime("%d/%m/%Y"))
    ttentry.append(calendar.day_name[temp.weekday()][0:3])
    ttentry.append('-')
    for i in range(11):
        ttentry.append('-')
    tt.append(ttentry)
    temp=temp+ timedelta(days=1)
finaltt=pd.DataFrame(tt)
finaltt.columns = c
t.append(finaltt)
s=t[0]
s

          Date  Day Subject P1 P2 P3 SB P4 P5 P6 LB P7 P8 P9
0   05/05/2022  Thu       -  -  -  -  -  -  -  -  -  -  -  -
1   06/05/2022  Fri       -  -  -  -  -  -  -  -  -  -  -  -
2   07/05/2022  Sat       -  -  -  -  -  -  -  -  -  -  -  -
3   08/05/2022  Sun       -  -  -  -  -  -  -  -  -  -  -  -
4   09/05/2022  Mon       -  -  -  -  -  -  -  -  -  -  -  -
5   10/05/2022  Tue       -  -  -  -  -  -  -  -  -  -  -  -
6   11/05/2022  Wed       -  -  -  -  -  -  -  -  -  -  -  -
7   12/05/2022  Thu       -  -  -  -  -  -  -  -  -  -  -  -
8   13/05/2022  Fri       -  -  -  -  -  -  -  -  -  -  -  -
9   14/05/2022  Sat       -  -  -  -  -  -  -  -  -  -  -  -
10  15/05/2022  Sun       -  -  -  -  -  -  -  -  -  -  -  -
11  16/05/2022  Mon       -  -  -  -  -  -  -  -  -  -  -  -
12  17/05/2022  Tue       -  -  -  -  -  -  -  -  -  -  -  -
13  18/05/2022  Wed       -  -  -  -  -  -  -  -  -  -  -  -
14  19/05/2022  Thu       -  -  -  -  -  -  -  -  -  -  -  -
15  20/05/2022  Fri       -  -  -  -  -  -  -  -  -  -  -  -

In [37]:
df[df.Day==calendar.day_name[dt1.weekday()][0:3]]

,Name,Subject,Day,P1,P2,P3,SB,P4,P5,P6,LB,P7,P8,P9
3,Anupama Singh,Eng,Thu,1,0,1,0,0,0,1,0,0,0,1
8,Aparna Dinesh,Eng,Thu,1,0,1,0,1,0,1,0,1,1,1
13,Deepa Janardhanan,Eng,Thu,1,1,1,0,0,1,0,0,0,1,0
18,Geeta Kathait,Eng,Thu,0,1,1,0,1,1,0,0,0,1,1
23,Jyotsna Nair,Eng,Thu,1,1,0,0,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,LIBRARY,VPA-LS,Thu,1,0,0,0,0,0,0,0,0,0,0
288,Jothi K,HPE,Thu,1,1,0,0,1,1,0,0,1,1,0
293,Alphonse S,HPE,Thu,1,1,0,0,1,0,1,0,1,1,0
298,Samuel A,HPE,Thu,1,1,0,0,1,0,0,0,1,1,1
303,Saritha Unni,HPE,Thu,1,1,1,0,1,0,0,0,1,0,1